#Siguiente archivo es el ejecutable, puede cambiar
main
ae/eda/TCostHoraProf
ae/eda/TCostAsigProf
ae/eda/TProfesor
ae/eda/TAula
ae/eda/TAsignatura
ae/TIndividuo
ae/TIndividuoTest2
#Fin

*.a
*\~
*.swp
*.o
Documentacion
sandbox
